.page {
  width: 100vw;
  max-height: 100vh;
  background: url(/static/img/background.46cfadfe.png) no-repeat 100%;
  overflow: hidden;
  display: block;
  z-index: 9
}

.page .u-slot-content {
  padding: 0
}

.content {
  background-color: #fff;
  border-radius: 14px 14px 0px 0px;
  margin-top: calc(0px + 44px);
  height: calc(100vh - 44px - 0px);
  // overflow: scroll
}

// ::-webkit-scrollbar {
//   display: none;
//   width: 0 !important;
//   height: 0 !important;
//   -webkit-appearance: none;
//   background: transparent
// }

.u-tabs {
  border-radius: 14px 14px 0px 0px;
  overflow: hidden
}

.search {
  padding: 15px 16px 0
}

.search .u-input {
  font-size: 12px
}

.u-slot-content {
  flex-direction: row-reverse;
  padding-right: 16px
}

.product_type {
  margin-top: 20px
}

.product_type .text {
  padding-left: 16px;
  font-size: 14px;
  font-weight: 700;
  color: #676767
}

.product_type .type_list {
  display: flex;
  margin-top: 12px;
  padding-left: 20px
}

.product_type .type_list .type {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f8f9;
  border-radius: 21px;
  font-size: 12px;
  color: #a2a2a2;
  width: 80px;
  height: 30px;
  margin-right: 30px
}

.product_type .type_list .type .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px
}

.product_type .type_list .type.active {
  background-color: #feedcb;
  color: #fcad13
}

.slot-wrap {
  flex: 1 0 1366px;
  display: flex;
  align-items: center;
  justify-content: center
}

.slot-wrap #u-tab-item-1 {
  -webkit-transform: translateX(2px);
  transform: translateX(2px)
}

.navTab .u-tab-bar {
  background: transparent;
  position: relative
}

.navTab .u-tab-bar:after {
  position: absolute;
  content: "";
  z-index: 999;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  bottom: -5px;
  border-bottom-color: #fff
}

.navTab .u-border-bottom::after {
  display: none
}

.navTab .u-navbar,
.navTab .u-navbar-fixed {
  background: transparent !important
}

.navTab .u-navbar-placeholder {
  display: none
}


.gameCards-bottom {
  padding-bottom: 90px
}

.u-navbar {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1)
}

.u-slot-content {
  flex-direction: row-reverse;
  padding-right: 16px
}

.u-tab-bar {
  bottom: -4px !important
}

.slot-wrap {
  display: flex;
  align-items: center
}

.slot-wrap uni-image {
  width: 18px;
  height: 20px
}

.slot-wrap uni-text {
  font-size: 10px;
  color: #000;
  margin-left: 3px
}

.search {
  margin-top: 10px;
  padding: 0 16px
}

.search .u-input {
  font-size: 12px
}

.product_type {
  margin-top: 20px
}

.product_type .text {
  padding-left: 16px;
  font-size: 14px;
  font-weight: 700;
  color: #676767
}

.product_type .type_list {
  display: flex;
  margin-top: 12px;
  padding-left: 20px
}

.product_type .type_list .type {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f8f9;
  border-radius: 21px;
  font-size: 12px;
  color: #a2a2a2;
  width: 80px;
  height: 30px;
  margin-right: 30px
}

.product_type .type_list .type .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px
}

.product_type .type_list .type.active {
  background-color: #feedcb;
  color: #fcad13
}

.game_type {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  border-bottom: 1px solid #f5f5f5
}

.game_type .u-tabs-item {
  font-size: 16px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300 !important;
  color: #676767;
  line-height: 22px
}

.game_type .u-tab-bar {
  background-size: 100%
}

.gameList {
  position: relative;
  padding: 0 0 100px;
  padding-bottom: 100px;
}

// .gameList-tabs {
//   position: -webkit-sticky;
//   position: sticky;
//   z-index: 2;
//   top: 0;
//   border-bottom: 1px solid #f5f5f5
// }

// .gameList-tabs .u-tabs-item {
//   font-size: 16px;
//   font-family: PingFangSC-Light, PingFang SC;
//   font-weight: 300 !important;
//   color: #676767;
//   line-height: 22px
// }

// .gameList-tabs .u-tab-bar {
//   background-size: 100%
// }

// .gameList-list .u-index-anchor {
//   padding: 0;
//   padding-left: 16px;
//   height: 20px;
//   background-color: #f7f8f9
// }

// .gameList-list .u-index-anchor uni-text {
//   line-height: 20px;
//   font-size: 16px;
//   font-weight: 500;
//   color: #666
// }

// .gameList-list .uni-scroll-view {
//   overflow: visible !important
// }

// .gameList-list .recent_look .title {
//   display: flex;
//   justify-content: space-between;
//   padding-left: 16px;
//   padding-right: 56px;
//   margin-top: 22px
// }

// .gameList-list .recent_look .title .text-1 {
//   font-size: 14px;
//   font-weight: 700;
//   color: #676767
// }

// .gameList-list .recent_look .title .text-2 {
//   font-size: 12px;
//   font-weight: 700;
//   color: #b4b4b4
// }

// .gameList-list .recent_look .title .text-2 uni-image {
//   margin-right: 3px;
//   margin-bottom: -2px
// }

// .gameList-list .recent_look .list {
//   padding-bottom: 16px
// }

// .gameList-list .recent_look .border {
//   height: 1px;
//   background-color: #ebebeb;
//   margin-left: 16px;
//   margin-right: 56px
// }

// .gameList-list .is-show {
//   height: 0;
//   overflow: hidden
// }



// .empty uni-image {
//   display: block;
//   margin: 51px auto 0;
//   width: 221px;
//   height: 175px
// }

// .u-index-bar__index.active,
// .u-index-bar__index {
//   border-radius: 22px;
//   width: 22px;
//   font-size: 12px;
//   font-family: PingFang SC-Regular, PingFang SC;
//   font-weight: 400;
//   color: #333
// }

// .u-index-bar__index.active.active,
// .u-index-bar__index.active {
//   background: #ffbc7a
// }

.gamesCard {
  .list {
    padding: 20px 20px 20px 12px;
    border-bottom: 1px solid #f5f5f5;
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    justify-content: space-between
  }

  .list .item {
    text-align: center;
    height: 60px;
    width: 67px;
    min-height: 94px !important;
  }

  .list .item uni-image {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    width: 55px;
    height: 55px;
    margin: 6px;
    margin-bottom: 0;
    border-radius: 13px;
  }

  .list .item .text {
    font-size: 12px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: #676767;
    font-size: 12px;
    font-family: Alibaba PuHuiTi -53 Regular, Alibaba PuHuiTi 20;
    font-weight: 400;
    color: #000;
    line-height: 16px;
    text-align: center;
    width: 100%;
  }

}