
#BackToTop {
  position: fixed;
  bottom: .3rem;
  right: .06rem;
  padding: .24rem;
  background: url(../images/totop.png) center center no-repeat;
  width: .91rem;
  height: .91rem;
  background-size: .9rem;
  z-index: 9;
  display: none;
  border-radius: 100%
}




.more_message {
  width: 2.41rem;
  height: 2.93rem;
  background-color: #fff;
  position: fixed;
  right: .2rem;
  top: .8rem;
  z-index: 99
}

.more_message ul {
  overflow: hidden
}

.more_message .list-more {
  width: 2.41rem;
  height: .96rem;
  line-height: .96rem
}

.more_message .list-more .home_back {
  width: .47rem;
  height: .96rem;
  background: url(../images/Icon/home.png) center no-repeat;
  background-size: .47rem
}

.more_message .list-more .sharew {
  width: .47rem;
  height: .96rem;
  background: url(../images/Icon/share_ic.png) center no-repeat;
  background-size: .47rem
}

.more_message .list-more .android {
  width: .47rem;
  height: .96rem;
  background: url(../images/Icon/list_mes.png) center no-repeat;
  background-size: .47rem
}

.more_message .list-more i {
  float: left;
  color: #606060;
  line-height: .96rem;
  text-align: center;
  padding-left: 1rem;
  margin-left: .2rem
}


.more_message:before {
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  display: block;
  position: absolute;
  top: -7.5px;
  right: 6%;
  border-width: 1px;
  border-style: solid;
  border-color: #e8e8e8 #fff #fff #e8e8e8;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg)
}