body {
  margin: 0;
}

html[data-theme='dark'] .first-loading-wrap {
  background-color: #101014;
}

.first-loading-wrap {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-loading-wrap>h1 {
  font-size: 28px;
}

.first-loading-wrap .loading-wrap {
  padding: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  animation: antRotate 1.2s infinite linear;
  transform: rotate(45deg);
  position: relative;
  display: inline-block;
  font-size: 12px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.dot i {
  width: 14px;
  height: 14px;
  position: absolute;
  display: block;
  background: var(--app-theme-color);
  border-radius: 100%;
  transform: scale(0.75);
  transform-origin: 50% 50%;
  opacity: 0.3;
  animation: antSpinMove 1s infinite linear alternate;
}

.dot i:nth-child(1) {
  top: 0;
  left: 0;
}

.dot i:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.dot i:nth-child(3) {
  right: 0;
  bottom: 0;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.dot i:nth-child(4) {
  bottom: 0;
  left: 0;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@keyframes antRotate {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}

@-webkit-keyframes antRotate {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}

@keyframes antSpinMove {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes antSpinMove {
  to {
    opacity: 1;
  }
}

* > .enter-x:nth-child(1) {
  transform: translateX(50px);
}
* > .-enter-x:nth-child(1) {
  transform: translateX(-50px);
}

* > .enter-x:nth-child(1),
* > .-enter-x:nth-child(1) {
  z-index: 9;
  opacity: 0;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}
* > .enter-x:nth-child(2) {
  transform: translateX(50px);
}
* > .-enter-x:nth-child(2) {
  transform: translateX(-50px);
}

* > .enter-x:nth-child(2),
* > .-enter-x:nth-child(2) {
  z-index: 8;
  opacity: 0;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}
* > .enter-x:nth-child(3) {
  transform: translateX(50px);
}
* > .-enter-x:nth-child(3) {
  transform: translateX(-50px);
}

* > .enter-x:nth-child(3),
* > .-enter-x:nth-child(3) {
  z-index: 7;
  opacity: 0;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

* > .enter-x:nth-child(4) {
  transform: translateX(50px);
}
* > .-enter-x:nth-child(4) {
  transform: translateX(-50px);
}

* > .enter-x:nth-child(4),
* > .-enter-x:nth-child(4) {
  z-index: 6;
  opacity: 0;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

* > .enter-x:nth-child(5) {
  transform: translateX(50px);
}
* > .-enter-x:nth-child(5) {
  transform: translateX(-50px);
}

* > .enter-x:nth-child(5),
* > .-enter-x:nth-child(5) {
  z-index: 5;
  opacity: 0;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

* > .enter-y:nth-child(1) {
  transform: translateX(50px);
}
* > .-enter-y:nth-child(1) {
  transform: translateX(-50px);
}

* > .enter-y:nth-child(1),
* > .-enter-y:nth-child(1) {
  z-index: 9;
  opacity: 0;
  animation: enter-y-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}
* > .enter-y:nth-child(2) {
  transform: translateX(50px);
}
* > .-enter-y:nth-child(2) {
  transform: translateX(-50px);
}

* > .enter-y:nth-child(2),
* > .-enter-y:nth-child(2) {
  z-index: 8;
  opacity: 0;
  animation: enter-y-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}
* > .enter-y:nth-child(3) {
  transform: translateX(50px);
}
* > .-enter-y:nth-child(3) {
  transform: translateX(-50px);
}

* > .enter-y:nth-child(3),
* > .-enter-y:nth-child(3) {
  z-index: 7;
  opacity: 0;
  animation: enter-y-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

* > .enter-y:nth-child(4) {
  transform: translateX(50px);
}
* > .-enter-y:nth-child(4) {
  transform: translateX(-50px);
}

* > .enter-y:nth-child(4),
* > .-enter-y:nth-child(4) {
  z-index: 6;
  opacity: 0;
  animation: enter-y-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

* > .enter-y:nth-child(5) {
  transform: translateX(50px);
}
* > .-enter-y:nth-child(5) {
  transform: translateX(-50px);
}

* > .enter-y:nth-child(5),
* > .-enter-y:nth-child(5) {
  z-index: 5;
  opacity: 0;
  animation: enter-y-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes enter-x-animation {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes enter-y-animation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
